<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contacts</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" >
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
<div class="container">
<ul class="menu">
    <li><a href="index.html">Главная</a></li>
    <li><a href="blog.html">Блог</a></li>
    <li><a href="about.html">Контакты</a></li>
</ul>
<h1>О сайте и авторе</h1>
    <div class="row">
        <div class="jumbotron">
            <h3>Адрес</h3>
            <p>г.Москва, ул.Пушкина, д.20</p>
        </div>
        <div class="jumbotron">
            <h3>Номер телефона</h3>
            <p>89183000000</p>
        </div>
        <div class="jumbotron">
            <h3>Email</h3>
            <p>ataman@yandex.ru</p>
        </div>
    </div>
</div>
<hr>
<a href="https://geekbrains.ru/" target="_blank">GeekBrains.ru</a>
<footer class="fixed-bottom">
    <h6> &copy; Все права защищены</h6>
</footer>
<!-- Bootstrap JS + Popper JS -->
<script defer src="../js/bootstrap.bundle.min.js"></script>
</body>
</html>
