<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{title}}</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href={{url_for('static', filename = 'css/bootstrap.min.css')}} >
  <link rel="stylesheet" href={{url_for('static', filename = 'css/style.css')}}>
</head>
<body>
  <div class="container d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
      <span class="fs-4">Юлин блог</span>
    </a>
    <ul class="nav nav-pills">
      <li class="nav-item"><a href={{url_for("index")}} class="nav-link active">Главная</a></li>
      <li class="nav-item"><a href={{url_for("blog")}} class="nav-link">Блог</a></li>
      <li class="nav-item"><a href={{url_for("about")}} class="nav-link">О себе</a></li>
    </ul>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center"><h1 class="h1">{{title}}</h1></div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      {% block content %}
      {% endblock %}
    </div>
  </div>
  <div class="container footer text-center fixed-bottom py-3 border-top">
    <span class="text-muted"><a href="https://geekbrains.ru/" target="_blank">GeekBrains.ru</a> &copy; Все права защищены</span>
  </div>
  <!-- Bootstrap JS + Popper JS -->
  <script defer src={{url_for('static', filename = 'js/bootstrap.bundle.min.js')}}></script>
</body>
</html>