<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Stories about me</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" >
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <ul class="menu">
        <li><a href="index">Главная</a></li>
        <li><a href="about">Контакты</a></li>
        <li><a href="blog">Блог</a></li>
    </ul>
    <h1>Мой блог</h1>
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-md-2">
                <h2>Первое путешествие</h2>
                <p>1, 5 года я впервые поехали с родителями на море в Сочи.Это очень красивый город и я рада,<br>что смогла побывать именно там в таком маленьком возрасте</p>
            </div>
            <div class="col-xl-3 col-md-2">
                <h2>Артек</h2>
                <p>В 12 лет я впревые поехала в лагерь "Артек", я научилась там многому чему.<br>Каждый день находится там для меня была огромная радость.У меня были очень насыщенные дни.</p>
            </div>
            <div class="col-xl-3 col-md-2">
                <h2>Веселые зимние каникулы</h2>
                <p>6 лет я впервые защищала свой проект на конкурсе "Я-иследователь".<br>Мне очень понравился этот конкурс.</p>
            </div>
        </div>
    </div>
    <img src="image/Felix.jpg" class="img-fluid rounded-circle">
    <hr>
    <a href="https://geekbrains.ru/" target="_blank">GeekBrains.ru</a>
    <p>&copy; Все права защищены</p>
    <!-- Bootstrap JS + Popper JS -->
    <script defer src="../js/bootstrap.bundle.min.js"></script>
</body>
</html>

