{% extends 'base.html' %}

{% block title %}
  О главном
{% endblock %}

{% block section %}
  <section>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center"><h1 class="h1">Главная</h1></div>
        <div class="col-lg-5"><img src={{url_for('static', filename = 'image/IN.png')}} class="rounded-circle shadow"></div>
        <div class="col-lg-7">
          <h2>Моя любимая игра</h2>
          <p>
            Моя любимая игра это Genshin Impact, очень известная и также очень интересная игра. Я расскажу о ней немного. Genshin Impact это компьютерная игра в жанре action-adventure с открытым миром и элементами RPG, разработанная китайской компанией miHoYo Limited. Действие Genshin Impact происходит в фэнтезийном мире Тейват,
            который является домом для семи различных народов,каждый из которых связан с отдельной стихией и управляется отдельным богом, называемым во вселенной игры «Архонт». Сюжет рассказывает о герое по имени Путешественник, который странствует по бесчисленным мирам со своим братом или же сестрой-близнецом (в зависимости от того, кого игрок выберет в начале игры)
            прежде чем разлучиться в Тейвате. Вместе со своей спутницей-компаньоном Паймон Путешественник отправляется на поиски своего потерянного близнеца, одновременно участвуя в делах народов Тейвата.
          </p>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
